.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-size: 200%;
}

/* .keyboard button {
  height: 5rem;
  width: 5rem;
} */

.left-right-down-button-place {
  width: 100%;
  height: calc(100%/2);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}

.left-right-button-place p {
  vertical-align: middle;
  transform: translateY(-1px);
}

.up-button-place {
  width: 100%;
  height: calc(100%/2);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
}

.upBtn {
  flex-grow: 1;
  margin-bottom: 1px;
}

.downBtn {
  /* margin: auto 1px auto 1px; */
  margin-right: 1px;
  margin-left: 1px;
  flex-grow: 3;
}

.leftBtn {
  flex-grow: 1;
}

.rightBtn {
  flex-grow: 1;
}

@media screen and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .canvas-wrapper {
    width: 840px;
    height: 840px;
  }

  .keyboard {
    width: 55vh;
    height: 55vh;
  }

  @media screen and (max-height: 768px) {
    .canvas-wrapper {
      width: 630px;
      height: 630px;
    }
  }

  @media screen and (max-height: 425px) {
    .canvas-wrapper {
      width: 378px;
      height: 378px;
    }
  }

  @media screen and (max-height: 375px) {
    .canvas-wrapper {
      width: 357px;
      height: 357px;
    }
  }

  @media screen and (max-height: 320px) {
    .canvas-wrapper {
      width: 294px;
      height: 294px;
    }
  }
}

@media screen and (orientation: portrait) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .keyboard {
    margin-top: 10vh;
    width: 55vw;
    height: 55vw;

  }

  .canvas-wrapper {
    width: 840px;
    height: 840px;
  }

  @media screen and (max-width: 768px) {
    .canvas-wrapper {
      width: 630px;
      height: 630px;
    }
  }

  @media screen and (max-width: 425px) {
    .canvas-wrapper {
      width: 378px;
      height: 378px;
    }
  }

  @media screen and (max-width: 375px) {
    .canvas-wrapper {
      width: 357px;
      height: 357px;
    }
  }

  @media screen and (max-width: 320px) {
    .canvas-wrapper {
      width: 294px;
      height: 294px;
    }
  }
}
